html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #fafffc;
}
* {
  box-sizing: border-box;
}
.results__row {
  color: #808080;
  font-size: 14px;
}
.results__total {
  color: #000;
  font-size: 16px;
}
.calculator {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 15px;
}
.calculator div {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
.calculator label {
  margin-bottom: 10px;
  font-weight: bold;
}
.calculator input {
  padding: 10px;
  border: 2px solid #20b2aa;
  border-radius: 4px;
  width: 250px;
  height: 45px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: #fff;
}
.calculator button {
  width: 250px;
  height: 45px;
  background-color: #20b2aa;
  border-radius: 4px;
  outline: none;
  border: 2px solid #20b2aa;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
.calculator button:hover,
.calculator button:focus {
  background-color: #fff;
  cursor: pointer;
  color: #000;
  transition: all 0.3s ease;
}
.results {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
article {
  padding: 0 10px 15px 10px;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-right: 15px;
  height: 240px;
  width: 380px;
  margin-bottom: 15px;
  position: relative;
  opacity: 0;
  animation-name: showFlights;
  animation-duration: 0.25s;
  animation-timing-function: ease;
  transform: translateY(30px);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}
article:first-child {
  animation-delay: 0.05s;
}
article:nth-child(2) {
  animation-delay: 0.1s;
}
article:nth-child(3) {
  animation-delay: 0.15s;
}
article:nth-child(4) {
  animation-delay: 0.2s;
}
article:nth-child(5) {
  animation-delay: 0.25s;
}
article:nth-child(6) {
  animation-delay: 0.3s;
}

article:nth-child(7) {
  animation-delay: 0.35s;
}

article:nth-child(8) {
  animation-delay: 0.4s;
}

article:nth-child(9) {
  animation-delay: 0.45s;
}

article:nth-child(10) {
  animation-delay: 0.5s;
}

article p {
  margin-top: 0;
  margin-bottom: 10px;
}
article b {
  /*margin-top: 10px;*/
  /*align-self: flex-end;*/
  /*position: absolute;*/
  /*bottom: 20px;*/
  margin-top: auto;
}

.desperation {
  font-weight: 600;
  padding: 15px;
}

.results__airlines {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 100%;
}

.results__airlines img {
  /*position: absolute;*/
  /*top: 10px;*/
  /*left: 10px;*/
  /*max-width: 110px;*/
  /*height: auto;*/
  z-index: -1;
}

.results__airlines p {
  margin: 0;
  padding-top: 32px;
  /*color: #20b2aa;*/
}
@media screen and (max-width: 1100px) {
  .calculator {
    flex-direction: column;
    align-items: flex-start;
  }
  .calculator input {
    margin-bottom: 20px;
  }
  .calculator div {
    width: 100%;
  }
  .calculator div input,
  .calculator button {
    width: 420px;
  }
}
@media screen and (max-width: 600px) {
  .calculator div input,
  .calculator button {
    width: 100%;
  }
  .results article {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}

@media screen and (max-width: 370px) {
  html, body {
    font-size: 14px;
  }
  .results article {
    height: 180px;
  }
  .results__airlines img {
    width: 50px;
    height: 50px;
  }
  .results__airlines p {
    padding-top: 17px;
  }
}


@-moz-keyframes showFlights {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes showFlights {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes showFlights {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes showFlights {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
