@media screen and (max-width: 1890px) {
	.information__wrapper {
		background-position: bottom -155px center;
	}
}



@media screen and (max-width: 1640px) {
	.contacts__scroll-up {
		right: -65px;
	}
}

@media screen and (max-width: 1340px) {
	.contacts__scroll-up {
		display: none;
	}
}




@media screen and (max-width: 1439.98px) {
	.container {
		max-width: 1200px;
	}
	.information__description {
		top: 120px;
		width: 100%;
		&::before {
			top: 14px;
			left: -101%;
		}
	}

	.information__wrapper {
		background-position: bottom -240px center;
	}
}


@media screen and (max-width: 1199.98px) {
	.container {
		max-width: 992px;
	}
	.information .main-button {
		top: 340px;
		left: 15px;
		//margin-left: auto;
		//position: static;
	}

	.information__wrapper {
		background-position: bottom -310px center;
	}
	.about__info {
		flex-direction: column;
	}
	.about__text {
		width: 100%;
		margin-right: 0;
		//flex-direction: column;
	}

	.about__subheading {
		width: 100%;
		max-width: 100%;
	}

	.about__description {
		width: 100%;
		max-width: 100%;
	}

	.contacts__form {
		width: 50%;
		margin-left: 30px;
	}

	.footer__items {
		flex-direction: column;
		height: auto;
	}

	.footer__nav {
		height: auto;
		padding-top: 15px;
	}

	.footer__item_logo {
		margin: 20px 0;
	}

}


@media screen and (max-width: 991.98px) {
	.container {
		max-width: 768px;
	}

	.information__heading {
		font-size: 82px;
	}

	.information__heading span {
		top: 70px;
	}

	.information__description {
		top: 85px;
	}

	.information .main-button {
		top: 270px;
	}

	.information__wrapper {
		background-position: bottom -230px center;
	}

	.about__info {
		margin-left: 0;
	}

	.advantages {
		margin-left: 0;
		flex-wrap: wrap;
	}

	.advantage {
		width: 48%;
	}

	.types__item {
		flex-direction: column;
	}

	.types__text {
		margin-left: 0;
		padding-left: 0;
	}

	.types__item:nth-of-type(even) {
		flex-direction: column;
	}

	.types__item:nth-of-type(even) .types__text {
		margin-right: 0;
		padding-right: 0;
	}

	.why-us__item {
		width: 100%;
		height: auto;
		margin-bottom: 10px;
		&:not(:first-of-type) {

		}
	}

	.why-us__item:nth-child(4), .why-us__item:last-child {
		margin-top: 0;
		width: 100%;
		height: auto;
	}

	.functions__items {
		flex-direction: column;
	}

	.functions__item {
		//flex-direction: row;
		width: 100%;
		margin-bottom: 45px;
		align-items: center;

		& img {
			//width: 35%;
		}

	}

	.functions__item:first-child, .functions__item:last-child {
		margin-top: 0;
	}

	.functions__header {
		margin-top: 0;
		margin-bottom: 0;
		flex-direction: column;
		//margin-left: 15px;
		//margin-right: 15px;
		//width: 180px;
	}

	.functions__number {
		margin-right: 0;
		text-align: center;
	}

	.functions__heading {
		text-align: center;
	}

	.functions__description {
		text-align: center;
		//width: 30%;
	}

	.contacts__content {
		flex-direction: column;
	}

	.contacts__form {
		width: 100%;
		margin-left: 0;
		margin-top: 40px;
	}

	.contacts__social {
		margin-top: 0;
	}


}

@media screen and (max-width: 767.98px) {
	.container {
		max-width: 576px;
	}
	.information__heading {
		font-size: 56px;
	}

	.order-form {
		width: 100%;
		margin-right: 0;
	}

	.order__row:first-of-type {
		flex-direction: column;

		& .order__input {
			width: 100%;
		}
	}

	.order__input:first-of-type {
		margin-right: 0;
	}

	.order input[type=file] {
		max-width: 100%;
	}

	.projects__buttons {
		right: 15px;
	}

	.projects__item-description {
		padding-left: 15px;
	}

	.projects__item img {
		width: 100% !important;
		height: auto !important;
	}
}

@media screen and (max-width: 575.98px) {
	.information__heading {
		font-size: 40px;
	}

	.advantage__description {
		font-size: 18px;
	}

	.about__text {
		margin-top: 20px;
	}

	.section__heading {
		padding-left: 25px;
		font-size: 30px;
		&::before {
			left: -385px;
			top: 18px;
		}
	}

	.order-form {
		padding: 15px;
	}

	.order__row:last-of-type {
		flex-direction: column;
	}

	.order__textarea {
		margin-bottom: 20px;
	}

	.order__row .main-button {
		margin-top: 20px;
	}

	.why-us__item {
		padding: 15px;
	}

	.why-us__header {
		flex-direction: column;
		align-items: center;
	}

	.why-us__heading {
		margin-left: 0;
		margin-top: 10px;
		text-align: center;
	}

	.contacts__content {
		padding: 15px;
	}

	.contacts__link {
		font-size: 18px;
	}

	.contacts__item img {
		margin-right: 10px;
	}

	.footer_bottom {
		flex-direction: column;
	}

	.footer__policy {
		margin-bottom: 10px;
	}


}

@media screen and (max-width: 319.98px) {

}