@import 'reset.css';
@font-face {
  font-family: 'Gotham';
  src: local(''), url("fonts/Gotham-Book.woff2") format('woff2'), url("fonts/Gotham-Book.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: local(''), url("fonts/Gotham-Light.woff2") format('woff2'), url("fonts/Gotham-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: local(''), url("fonts/Gotham-Medium.woff2") format('woff2'), url("fonts/Gotham-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --section-padding: 80px;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}
html {
  scroll-behavior: smooth;
  font-family: 'Gotham', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #282938;
  background-color: #f8f5f0;
}
.container {
  max-width: 1296px;
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.main-button {
  width: 247px;
  height: 60px;
  border: 1px solid #c5a57e;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #282938;
  background-color: transparent;
  border-radius: 40px;
  padding: 16px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  text-decoration: none;
}
.main-button:hover,
.main-button:focus {
  background-color: #c5a57e;
  transition: all 0.3s ease;
  cursor: pointer;
}
.main-button:active {
  background-color: #f8f5f0;
  border: 1px solid #f8f5f0;
  transition: all 0.3s ease;
  cursor: pointer;
}
.header {
  height: 100px;
  border-bottom: 1px solid #8e8887;
}
.header__nav {
  height: 100%;
}
.header__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__item {
  font-weight: 500;
}
.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
  color: #282938;
  text-decoration: none;
  transition: all 0.3s ease;
}
.header__link:hover,
.header__link:focus {
  color: #c5a57e;
  transition: all 0.3s ease;
}
.header__link_active {
  color: #c5a57e;
}
.header__link_active:hover,
.header__link_active:focus {
  text-decoration: underline;
}
.header__link_phone {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.header__item_logo {
  margin-left: 109px;
  margin-right: 128px;
}
.information__wrapper {
  height: calc(100vh - 100px);
  background: url("../img/information-bg.jpg") no-repeat bottom -100px center;
}
.information {
  position: relative;
}
.information__heading {
  font-weight: 400;
  font-size: 128px;
  line-height: 118%;
  text-transform: uppercase;
  margin-top: 48px;
  position: relative;
}
.information__heading span {
  position: absolute;
  top: 120px;
  right: 0;
  color: #8e8887;
}
.information__description {
  margin-top: 10px;
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 307px;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
}
.information__description::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  overflow: hidden;
  left: -331px;
  top: 40px;
  background-color: #c5a57e;
}
.information .main-button {
  position: absolute;
  top: 40px;
  right: 0;
}
.about__wrapper {
  background-color: #fff;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.section__heading {
  font-weight: 400;
  font-size: 48px;
  line-height: 125.5%;
  text-transform: uppercase;
  position: relative;
}
.section__heading::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 400px;
  overflow: hidden;
  left: -420px;
  top: 30px;
  background-color: #c5a57e;
}
.about__info {
  margin-left: 110px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.about__text {
  margin-right: 110px;
  margin-top: 80px;
}
.about__subheading {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 28px;
  line-height: 130%;
  text-transform: uppercase;
  display: inline-block;
  max-width: 380px;
}
.about__description {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 125.5%;
  display: inline-block;
  max-width: 462px;
}
.advantages {
  margin-left: 110px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.advantage {
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.advantage__number {
  font-weight: 300;
  font-size: 56px;
  line-height: 125.5%;
  padding-bottom: 8px;
  border-bottom: 1px solid #c5a57e;
  color: #c5a57e;
  display: inline-block;
  width: 100%;
}
.advantage__description {
  font-weight: 300;
  font-size: 24px;
  line-height: 125.5%;
  margin-top: 8px;
}
.types {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.types .main-button {
  margin-bottom: 50px;
}
.types__item {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.types__item:nth-of-type(even) {
  flex-direction: row-reverse;
}
.types__item:nth-of-type(even) .types__text {
  margin-left: 0;
  padding-left: 0;
  margin-right: 70px;
  padding-right: 40px;
}
.types__text {
  margin-left: 70px;
  padding-left: 40px;
  border-bottom: 1px solid #8e8887;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.types__number {
  font-weight: 400;
  font-size: 48px;
  line-height: 125.5%;
  text-transform: uppercase;
  color: #c7c4c3;
  margin-bottom: 30px;
}
.types__heading {
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.types__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 125.5%;
  margin-bottom: 50px;
}
.order__wrapper {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: url("../img/order-bg.jpg") no-repeat center center;
  background-size: cover;
}
.order-form {
  width: 680px;
  background-color: #fff;
  padding: 43px 40px;
}
.order__heading {
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  color: #374049;
  margin-bottom: 30px;
}
.order__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.order__row:last-of-type {
  justify-content: space-between;
  align-items: center;
}
.order__input {
  border: 1px solid #8e8887;
  border-radius: 10px;
  padding: 16px 21px;
  width: 290px;
  height: 64px;
  font-weight: 400;
  font-size: 18px;
  color: #8e8887;
  margin-bottom: 20px;
}
.order__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #8e8887;
}
.order__input:first-of-type {
  margin-right: 20px;
}
.order__textarea {
  border: 1px solid #8e8887;
  border-radius: 10px;
  resize: none;
  margin-bottom: 40px;
  width: 100%;
  height: 130px;
  padding: 14px 17px;
}
input[type=file] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}
.order__file-button {
  display: block;
  cursor: pointer;
  text-align: center;
  width: 200px;
  height: 60px;
}
.order__file-button .order__file-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #374049;
  height: 100%;
  transition: color 0.3s ease;
}
.order__file-button .order__file-title img {
  margin-right: 6px;
}
.order__file-button:hover .order__file-title {
  color: #c5a57e;
  transition: color 0.3s ease;
}
.why-us {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.why-us__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 60px;
}
.why-us__item {
  padding: 40px;
  height: 335px;
  background-color: #fff;
  width: 32%;
}
.why-us__item:nth-child(4),
.why-us__item:last-child {
  width: 49%;
  margin-top: 24px;
}
.why-us__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}
.why-us__heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 125.5%;
  color: #374049;
  margin-left: 30px;
}
.why-us__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 125.5%;
}
.why-us__list {
  margin-top: 20px;
}
.why-us__list li {
  font-weight: 300;
  font-size: 16px;
  line-height: 125.5%;
  list-style-type: disc;
  margin-left: 20px;
}
.projects {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.projects .section__heading,
.clients .section__heading {
  margin-bottom: 60px;
}
.projects__items {
  background-color: #fff;
  padding-top: 70px !important;
  padding-bottom: 160px !important;
}
.projects__item {
  max-width: 552px;
  transition: all 0.3s ease;
}
.projects__item img {
  width: 552px !important;
  height: 400px !important;
}
.projects__item .projects__item-description {
  display: none;
}
.projects__item_active {
  max-width: 686px;
  transition: all 0.3s ease;
}
.projects__item_active img {
  width: 686px !important;
  height: 498px !important;
}
.projects__item_active .projects__item-description {
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  line-height: 125.5%;
  margin-top: 10px;
  width: 80%;
}
.projects__buttons,
.clients__buttons {
  position: absolute;
  right: 360px;
  bottom: 40px;
  display: flex;
  flex-direction: row;
}
.projects-button-prev,
.clients-button-prev {
  margin-right: 30px;
}
.projects-button-next img,
.clients-button-next img {
  transform: rotate(180deg);
}
.projects-button-prev,
.projects-button-next,
.clients-button-prev,
.clients-button-next {
  width: 57px;
  height: 57px;
  border: 1px solid #c5a57e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: background-color 0.3s ease;
}
.projects-button-prev:hover,
.projects-button-next:hover,
.clients-button-prev:hover,
.clients-button-next:hover {
  cursor: pointer;
  background-color: #f8f5f0;
  transition: background-color 0.3s ease;
}
.functions {
  padding-bottom: var(--section-padding);
}
.functions__items {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.functions__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 32%;
}
.functions__header {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.functions__number {
  font-weight: 400;
  font-size: 48px;
  line-height: 125.5%;
  text-transform: uppercase;
  color: #c7c4c3;
  margin-right: 20px;
}
.functions__heading {
  font-weight: 400;
  font-size: 28px;
  line-height: 130%;
}
.functions__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 132.5%;
  margin-top: 0;
}
.functions__item:first-child,
.functions__item:last-child {
  margin-top: 60px;
}
.clients__wrapper {
  padding-top: var(--section-padding);
  padding-bottom: 120px;
  background-color: #fff;
}
.clients__buttons {
  position: relative;
  bottom: -30px;
  right: 0;
  width: 144px;
  margin-left: auto;
}
.contacts {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.contacts__scroll-up {
  width: 57px;
  height: 57px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c5a57e;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 80px;
  right: -160px;
}
.contacts__scroll-up:hover {
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s ease;
}
.contacts__content {
  width: 100%;
  background-color: #fff;
  padding: 80px 55px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.contacts__social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
}
.contacts__social .contacts__item:not(:last-child) {
  margin-bottom: 0;
}
.contacts__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}
.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}
.contacts__item img {
  margin-right: 20px;
  transform: scale(1);
  transition: transform 0.3s ease;
}
.contacts__item:not(.contacts__item_location):hover img,
.contacts__item:not(.contacts__item_location):focus img {
  transform: scale(1.15);
  transition: transform 0.3s ease;
}
.contacts__item:not(.contacts__item_location):hover .contacts__link,
.contacts__item:not(.contacts__item_location):focus .contacts__link {
  color: #c5a57e;
  transition: color 0.3s ease;
}
.contacts__link {
  font-weight: 400;
  font-size: 24px;
  line-height: 125.5%;
  color: #282938;
  text-decoration: none;
  transition: color 0.3s ease;
}
.contacts__form {
  margin-left: 200px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.callback__heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 125.5%;
  margin-bottom: 25px;
}
.callback__input {
  height: 60px;
  width: 100%;
  border: 1px solid #c7c4c3;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 14px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #8e8887;
}
.callback__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #8e8887;
}
.callback__input:last-of-type {
  margin-bottom: 30px;
}
.footer__wrapper {
  background-color: #282938;
}
.footer__nav {
  height: 100px;
  color: #fff;
}
.footer__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.footer__item {
  font-weight: 500;
}
.footer__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}
.footer__link:hover,
.footer__link:focus {
  color: #c5a57e;
  transition: all 0.3s ease;
}
.footer__link_active {
  color: #c5a57e;
}
.footer__link_active:hover,
.footer__link_active:focus {
  text-decoration: underline;
}
.footer__link_phone {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.footer__item_logo {
  margin-left: 109px;
  margin-right: 128px;
}
.footer_bottom {
  color: #fff;
  padding-top: 26px;
  padding-bottom: 26px;
  border-top: 1px solid #f8f5f0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer__policy,
.footer__copyright {
  font-weight: 300;
  font-size: 14px;
  line-height: 125.5%;
  color: #fff;
  text-decoration: none;
}
.footer__policy {
  margin-right: 10px;
}
.footer__policy:hover,
.footer__policy:focus {
  color: #c5a57e;
  transition: color 0.3s ease;
}
.product {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  margin-left: calc((100vw - 1281px) / 2);
}
.product__heading {
  width: 30%;
  margin-bottom: 30px;
}
.product__information {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.product__text {
  min-width: 549px;
}
.product__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 125.5%;
  margin-bottom: 25px;
}
.product__gallery {
  margin-left: 60px;
}
.product .projects__items {
  background-color: transparent;
  padding-top: 0 !important;
}
.product .projects__item img {
  width: 550px !important;
  height: 400px !important;
}
.product .projects__item_active {
  width: 688px !important;
  max-width: 688px !important;
}
.product .projects__item_active img {
  width: 688px !important;
  max-width: 688px !important;
  height: 500px !important;
}
@media screen and (max-width: 1890px) {
  .information__wrapper {
    background-position: bottom -155px center;
  }
}
@media screen and (max-width: 1640px) {
  .contacts__scroll-up {
    right: -65px;
  }
}
@media screen and (max-width: 1340px) {
  .contacts__scroll-up {
    display: none;
  }
}
@media screen and (max-width: 1439.98px) {
  .container {
    max-width: 1200px;
  }
  .information__description {
    top: 120px;
    width: 100%;
  }
  .information__description::before {
    top: 14px;
    left: -101%;
  }
  .information__wrapper {
    background-position: bottom -240px center;
  }
}
@media screen and (max-width: 1199.98px) {
  .container {
    max-width: 992px;
  }
  .information .main-button {
    top: 340px;
    left: 15px;
  }
  .information__wrapper {
    background-position: bottom -310px center;
  }
  .about__info {
    flex-direction: column;
  }
  .about__text {
    width: 100%;
    margin-right: 0;
  }
  .about__subheading {
    width: 100%;
    max-width: 100%;
  }
  .about__description {
    width: 100%;
    max-width: 100%;
  }
  .contacts__form {
    width: 50%;
    margin-left: 30px;
  }
  .footer__items {
    flex-direction: column;
    height: auto;
  }
  .footer__nav {
    height: auto;
    padding-top: 15px;
  }
  .footer__item_logo {
    margin: 20px 0;
  }
}
@media screen and (max-width: 991.98px) {
  .container {
    max-width: 768px;
  }
  .information__heading {
    font-size: 82px;
  }
  .information__heading span {
    top: 70px;
  }
  .information__description {
    top: 85px;
  }
  .information .main-button {
    top: 270px;
  }
  .information__wrapper {
    background-position: bottom -230px center;
  }
  .about__info {
    margin-left: 0;
  }
  .advantages {
    margin-left: 0;
    flex-wrap: wrap;
  }
  .advantage {
    width: 48%;
  }
  .types__item {
    flex-direction: column;
  }
  .types__text {
    margin-left: 0;
    padding-left: 0;
  }
  .types__item:nth-of-type(even) {
    flex-direction: column;
  }
  .types__item:nth-of-type(even) .types__text {
    margin-right: 0;
    padding-right: 0;
  }
  .why-us__item {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .why-us__item:nth-child(4),
  .why-us__item:last-child {
    margin-top: 0;
    width: 100%;
    height: auto;
  }
  .functions__items {
    flex-direction: column;
  }
  .functions__item {
    width: 100%;
    margin-bottom: 45px;
    align-items: center;
  }
  .functions__item:first-child,
  .functions__item:last-child {
    margin-top: 0;
  }
  .functions__header {
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: column;
  }
  .functions__number {
    margin-right: 0;
    text-align: center;
  }
  .functions__heading {
    text-align: center;
  }
  .functions__description {
    text-align: center;
  }
  .contacts__content {
    flex-direction: column;
  }
  .contacts__form {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
  }
  .contacts__social {
    margin-top: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .container {
    max-width: 576px;
  }
  .information__heading {
    font-size: 56px;
  }
  .order-form {
    width: 100%;
    margin-right: 0;
  }
  .order__row:first-of-type {
    flex-direction: column;
  }
  .order__row:first-of-type .order__input {
    width: 100%;
  }
  .order__input:first-of-type {
    margin-right: 0;
  }
  .order input[type=file] {
    max-width: 100%;
  }
  .projects__buttons {
    right: 15px;
  }
  .projects__item-description {
    padding-left: 15px;
  }
  .projects__item img {
    width: 100% !important;
    height: auto !important;
  }
}
@media screen and (max-width: 575.98px) {
  .information__heading {
    font-size: 40px;
  }
  .advantage__description {
    font-size: 18px;
  }
  .about__text {
    margin-top: 20px;
  }
  .section__heading {
    padding-left: 25px;
    font-size: 30px;
  }
  .section__heading::before {
    left: -385px;
    top: 18px;
  }
  .order-form {
    padding: 15px;
  }
  .order__row:last-of-type {
    flex-direction: column;
  }
  .order__textarea {
    margin-bottom: 20px;
  }
  .order__row .main-button {
    margin-top: 20px;
  }
  .why-us__item {
    padding: 15px;
  }
  .why-us__header {
    flex-direction: column;
    align-items: center;
  }
  .why-us__heading {
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
  }
  .contacts__content {
    padding: 15px;
  }
  .contacts__link {
    font-size: 18px;
  }
  .contacts__item img {
    margin-right: 10px;
  }
  .footer_bottom {
    flex-direction: column;
  }
  .footer__policy {
    margin-bottom: 10px;
  }
}
