@import url("reset.css");
@import url("__fonts.scss");
@import url("__helpers.scss");
@import url("__animations.scss");
@import url("__adaptive.scss");
html {
  scroll-behavior: smooth;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #1F1F1F;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background: url("../img/header-bg.jpg") no-repeat center center;
  min-height: 100vh;
  background-size: cover;
  position: relative;
}

.header::after {
  height: 1px;
  width: 100%;
  content: '';
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  left: 0;
  top: 85px;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__link {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__link:not(.header__logo):hover img,
.header__link:not(.header__logo):focus img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header__link_hover {
  padding: 10px 0;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__link_hover::after {
  height: 2px;
  width: 100%;
  background: white;
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__link_hover:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  margin-right: 10px;
}

.header__logo h2 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 0.11em;
  line-height: 125%;
}

.header__logo h3 {
  width: 164px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.11em;
  line-height: 100%;
}

.header__links_social {
  margin-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__links_social li + li {
  margin-left: 10px;
}

.header__link_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 100%;
}

.header__link_phone img {
  margin-right: 10px;
}

.header__content h1 {
  margin-top: 150px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 55px;
  line-height: 130%;
  color: #FFFFFF;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.header__content h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 80px;
}

.main-button {
  border: 2px solid #2F8DBC;
  outline: none;
  background-color: #2F8DBC;
  width: 320px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  border-radius: 60px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 400;
  font-size: 18px;
}

.main-button svg {
  margin-left: 15px;
}

.main-button:hover, .main-button:focus {
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-button_on-white:hover, .main-button_on-white:focus {
  color: #2F8DBC;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-button_on-white:hover svg path, .main-button_on-white:focus svg path {
  fill: #2F8DBC;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 60px;
}

.about__image {
  padding: 10px;
  position: relative;
  width: 75%;
}

.about__image::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -10px;
  height: 75%;
  width: 75%;
  border-left: 7px solid #2F8DBC;
  border-bottom: 7px solid #2F8DBC;
}

.about__image::after {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  height: 75%;
  width: 75%;
  border-right: 7px solid #12AF12;
  border-top: 7px solid #12AF12;
}

.about__text {
  padding-left: 80px;
}

.about__heading {
  font-weight: 700;
  font-size: 26px;
  color: #1F1F1F;
  margin-bottom: 20px;
}

.about__subheading {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 60px;
}

.about__subheading span {
  color: #2F8DBC;
  font-weight: 800;
}

.about__information {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;
  width: 76%;
}

.about__information span {
  font-weight: 700;
  color: #2F8DBC;
}

.about__extra {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 30px;
  width: 90%;
}

.about__extra span {
  font-weight: 700;
  color: #2F8DBC;
}

.services {
  padding-top: 60px;
  padding-bottom: 60px;
}

.services__heading {
  font-weight: 700;
  font-size: 55px;
  margin-bottom: 80px;
}

.services__item {
  text-decoration: none;
  color: #FFFFFF;
  width: 500px;
  height: 220px;
  position: relative;
}

.services__item img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services__item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 75%;
  width: 75%;
  border-left: 7px solid #2F8DBC;
  border-bottom: 7px solid #2F8DBC;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services__item::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 75%;
  width: 75%;
  border-right: 7px solid #12AF12;
  border-top: 7px solid #12AF12;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services__item h3 {
  position: absolute;
  bottom: 30px;
  left: 40px;
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;
  width: 52%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services__item img {
  position: absolute;
  right: 55px;
  bottom: 30px;
}

.services__item_big {
  width: 642px;
  height: 478px;
  padding: 10px;
}

.services__item_big h3 {
  font-size: 34px;
  bottom: 50px;
}

.services__item_big img {
  bottom: 50px;
}

.services__item_big::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: -3px;
  height: 75%;
  width: 75%;
  border-left: 7px solid #2F8DBC;
  border-bottom: 7px solid #2F8DBC;
}

.services__item_big::after {
  content: '';
  position: absolute;
  top: -3px;
  right: -3px;
  height: 75%;
  width: 75%;
  border-right: 7px solid #12AF12;
  border-top: 7px solid #12AF12;
}

.services__item:not(.services__item_big):hover::before, .services__item:not(.services__item_big):focus::before {
  bottom: -17px;
  left: -17px;
  z-index: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services__item:not(.services__item_big):hover::after, .services__item:not(.services__item_big):focus::after {
  top: -17px;
  right: -17px;
  z-index: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services__item_big:hover::before, .services__item_big:focus::before {
  bottom: -10px;
  left: -10px;
  z-index: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services__item_big:hover::after, .services__item_big:focus::after {
  top: -10px;
  right: -10px;
  z-index: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services__item {
  background-size: cover;
}

.services__item_first {
  background: url("../img/services-1.jpg") no-repeat center center;
}

.services__item_second {
  background: url("../img/services-2.jpg") no-repeat center center;
}

.services__item_third {
  background: url("../img/services-3.jpg") no-repeat center center;
}

.services__item_fourth {
  background: url("../img/services-4.jpg") no-repeat center center;
}

.services__item_fifth {
  background: url("../img/services-5.jpg") no-repeat center center;
}

.services__item_sixth {
  background: url("../img/services-6.jpg") no-repeat center center;
}

.services__item:hover h3, .services__item:focus h3 {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services__item:hover img, .services__item:focus img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

.services__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.services__column .services__item:first-child {
  margin-bottom: 30px;
}

.order__wrapper {
  background: #2F8DBC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #2F8DBC;
  background: url("../img/order-bg.jpg") no-repeat top right, #2F8DBC;
}

.order__inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 70%;
  padding-left: 80px;
}

.order__heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 125%;
  text-align: center;
  color: #FFFFFF;
  width: 80%;
  margin-bottom: 30px;
}

.order__text {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  width: 80%;
  margin-bottom: 60px;
}

.form__row {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form__row:first-of-type {
  margin-bottom: 20px;
}

.form__row input {
  width: 48%;
  height: 70px;
  border: none;
  outline: none;
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 24px 30px;
}

.order__button {
  border: 2px solid #FFFFFF;
  width: 48%;
  height: 70px;
  outline: none;
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 24px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__button:hover, .order__button:focus {
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #FFFFFF;
  cursor: pointer;
}

.order__button:hover svg path, .order__button:focus svg path {
  fill: #FFFFFF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.advantages__row:first-of-type {
  margin-bottom: 50px;
}

.advantages__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
}

.advantages__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 50px;
}

.advantages__subheading {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  color: #2F8DBC;
  width: 55%;
}

.advantages__item {
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 60px;
  position: relative;
}

.advantages__item::before {
  position: absolute;
  content: '';
  top: 10px;
  left: 0;
  width: 34px;
  height: 34px;
  background-color: #12AF12;
  border: 10px solid #AFDCF2;
  border-radius: 100%;
}

.advantages__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 15px;
  height: 35px;
}

.advantages__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__heading {
  font-weight: 700;
  font-size: 55px;
  line-height: 120%;
  color: #2F8DBC;
  margin-bottom: 60px;
}

.items-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  gap: 20px;
}

.items-wrap:before,
.items-wrap:after {
  content: "";
  height: 100%;
  top: 0;
  width: 25%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.items-wrap:before {
  left: 0;
}

.items-wrap:after {
  right: 0;
}

.items {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  counter-reset: item;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 100%;
}

.item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  counter-increment: item;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin: 10px 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 45px rgba(0, 0, 0, 0.05);
}

.marquee {
  -webkit-animation: scroll 20s linear infinite;
          animation: scroll 20s linear infinite;
}

.reverce {
  animation-direction: reverse;
}

.items-wrap:hover .marquee {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
  }
}

.consultation {
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.consultation_left, .consultation_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.consultation_left {
  width: 65%;
}

.consultation__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 20px;
}

.consultation__subheading {
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
  margin-bottom: 40px;
}

.consultation_right {
  margin-top: 30px;
}

.consultation__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 10px;
}

.consultation__link {
  color: #1F1F1F;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  margin-bottom: 25px;
}

.consultation p {
  color: #1F1F1F;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.consultation .main-button:hover,
.consultation .main-button:focus {
  color: #2F8DBC;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.consultation .main-button:hover svg path,
.consultation .main-button:focus svg path {
  fill: #2F8DBC;
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.footer__wrapper {
  background-color: #2F8DBC;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
}

.footer__link, .footer__info {
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: none;
}

.outsourcing-header {
  background: url("../img/outsourcing-bg.jpg") no-repeat center center;
}

.outsourcing-advantages__row::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 32%;
}

.outsourcing-advantages__row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.outsourcing-advantages__row .advantages__item {
  width: 32%;
}

.outsourcing-button {
  margin: 50px auto 0 auto;
}

.outsourcing-description__wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F8DBC;
}

.outsourcing-description {
  text-align: center;
}

.outsourcing-description__heading {
  font-size: 36px;
  color: #FFFFFF;
  margin-bottom: 40px;
  line-height: 140%;
}

.outsourcing-description__text {
  font-size: 20px;
  color: #FFFFFF;
  line-height: 140%;
  width: 75%;
  margin: 0 auto;
}

.outsourcing-description__text:first-of-type {
  margin-bottom: 25px;
}

.outsourcing-steps__wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F8DBC;
}

.outsourcing-steps__heading {
  font-weight: 700;
  font-size: 55px;
  margin-bottom: 50px;
  color: #FFFFFF;
}

.outsourcing-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.outsourcing-steps__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px;
  height: 460px;
  width: 32%;
  background: #D1F0FF;
  border-radius: 12px;
}

.outsourcing-steps__list {
  list-style-type: decimal;
}

.outsourcing-steps__list span {
  font-weight: 600;
}

.outsourcing-steps__list ul li:not(:last-child) {
  margin-bottom: 5px;
}

.outsourcing__member {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 40px;
  z-index: 1;
}

.outsourcing-steps__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.outsourcing-steps__step:first-child {
  position: relative;
}

.outsourcing-steps__step:first-child::before {
  content: url("../img/icons/buyer.svg");
  position: absolute;
  top: 20px;
  right: 20px;
  height: auto;
}

.outsourcing-steps__step:nth-child(2) {
  position: relative;
}

.outsourcing-steps__step:nth-child(2)::before {
  content: url("../img/icons/simpex.svg");
  position: absolute;
  top: 20px;
  right: 20px;
}

.outsourcing-steps__step:last-child {
  position: relative;
}

.outsourcing-steps__step:last-child::before {
  content: url("../img/icons/seller.svg");
  position: absolute;
  top: 20px;
  right: 20px;
}

.customs-header {
  background: url("../img/customs-bg.jpg") no-repeat center center;
  background-size: cover;
}

.customs__wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F8DBC;
}

.customs__wrapper .customs__heading {
  font-size: 36px;
  margin-bottom: 40px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 140%;
}

.customs__wrapper .customs__description {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.customs__wrapper .customs__item {
  color: #FFFFFF;
  font-size: 18px;
  margin-bottom: 10px;
  list-style-type: disc;
}

.customs__wrapper .customs__item:last-child {
  margin-bottom: 30px;
}

.customs__wrapper_white {
  background-color: #fff;
}

.customs__wrapper_white .customs__heading {
  font-size: 36px;
  margin-bottom: 40px;
  font-weight: 600;
  color: #1F1F1F;
}

.customs__wrapper_white .customs__description {
  font-size: 18px;
  color: #1F1F1F;
}

.customs__wrapper_white .customs__item {
  color: #1F1F1F;
}

ol.customs__list .customs__item {
  list-style-type: decimal;
}

.delivery-header {
  background: url("../img/delivery-bg.jpg") no-repeat center center;
  background-size: cover;
}

.lawyer-header {
  background: url("../img/lawyer-bg.jpg") no-repeat center center;
  background-size: cover;
}

.advantages__row_last {
  margin-top: 40px;
}

.advantages__row_last::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 23%;
}

.import-header {
  background: url("../img/import-bg.jpg") no-repeat center center;
  background-size: cover;
}

.uzbekistan-header {
  background: url("../img/uzbekistan-bg.jpg") no-repeat center center;
  background-size: cover;
}
/*# sourceMappingURL=main.css.map */