@import 'reset.css';
@import '__fonts.styl';
@import '__variables.styl';
@import '__helpers.styl';
@import '__animations.styl';
@import '__adaptive.styl';

html {
	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: $color-black;
}


html, body {
	line-height: 140%;
}

body {
	background-color: $color-white;
}

.container {
	max-width: 1344px;
	margin: 0 auto;
	width: 100%;
	padding-left: 24px;
	padding-right: 24px;
}


.header {
	height: 80px;
	background-color: #fff;
	border-bottom: 2px solid $color-orange;
	margin: 0 auto;
}

.header__items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header__link {
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
	color: $color-black;
	transition: color 0.3s ease;

	&_phone {
		font-weight: 500;
	}

	&_betononasos {
		margin-right: 60px;
	}

	&:hover, &:focus {
		color: $color-orange;
		transition: color 0.3s ease;
	}
}

.header__link_logo {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-right: 93px;

	& img {
		margin-right: 5px;
	}

	& span {
		font-weight: 700;
		font-size: 22px;
		position: relative;
		left: 0;
		&::after {
			content: '';
			width: 60px;
			height: 5px;
			background-color: $color-orange;
			border-radius: 15px;
			position: absolute;
			bottom: -8px;
			left: 45px;
		}
	}
}

.banner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding-bottom: $section-padding;

}

.banner__text {
	margin-top: 100px;
	width: 40%;

}

.banner__heading {
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 40px;
	display: inline-block;
	width: 566px;
	line-height: 140%;
}

.banner__items {
	margin-bottom: 70px;
}

.banner__item {
	font-weight: 600;
	font-size: 26px;
	color: $color-darkgray;
	&:not(:last-child) {
		margin-bottom: 10px;
	}
}

.banner__images {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	& img {
		width: 100%;
	}
}

.beton {
	padding-top: $section-padding;
	padding-bottom: $section-padding;
	background-color: #fff;
	border-radius: 15px;
}

.section__heading {
	font-weight: 600;
	font-size: 38px;
	position: relative;
	display: inline-block;
	&::after {
		content: '';
		position: absolute;
		bottom: -15px;
		left: 25%;
		width: 60px;
		height: 5px;
		background-color: $color-orange;
		border-radius: 15px;
	}
}

.section__content {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.section__image {
	margin-top: 75px;
	margin-right: 60px;
}

.section__table {
	border-collapse: collapse;
	position: relative;



	& thead {
		position: relative;
		&::before {
			content: '';
			height: 2px;
			width: 60px;
			left: -60px;
			bottom: 0;
			position: absolute;
			background-color: $color-orange;
		}

		&::after {
			content: '';
			height: 60px;
			width: 2px;
			left: -1px;
			top: -11px;
			position: absolute;
			background-color: $color-orange;
		}

		& tr {
			border-bottom: 2px solid $color-orange;
			position: relative;
			&::after {
				content: '';
				height: 2px;
				width: 60px;
				right: -58px;
				bottom: -3px;
				position: absolute;
				background-color: $color-orange;
			}
		}
		& td {
			border: none;
			font-weight: 600;
			font-size: 16px;
			color: $color-darkgray;

		}
	}


	& td {
		border: 1px solid $color-lightgray;
		padding: 10px 20px;
		width: 200px;
	}

	& tbody tr:first-child td {
		border-top: none;
	}

	& tbody tr td:first-child {
		font-weight: 600;
		font-size: 16px;
		color: $color-darkgray;
		border-left: 2px solid $color-orange;

	}

	& tbody tr:last-child {
		&::after {
			content: '';
			height: 60px;
			width: 2px;
			left: -1px;
			bottom: -58px;
			position: absolute;
			background-color: $color-orange;
		}
	}

}

.peskobeton {
	background-color: $color-white;
	padding-top: $section-padding;
	padding-bottom: $section-padding;

	& .section__heading::after {
		left: 38%;
	}
}

.rastvor {
	background-color: #FFF;
	padding-top: $section-padding;
	padding-bottom: $section-padding;
	border-radius: 15px;

	& .section__heading::after {
		left: 34%;
	}
}

.izvestka {
	background-color: $color-white;
	padding-top: $section-padding;
	padding-bottom: $section-padding;

	& .section__heading::after {
		left: 42%;
	}
}

.betononasos {
	background-color: #FFF;
	padding-top: $section-padding;
	padding-bottom: $section-padding;
	border-radius: 15px;

	& .section__heading::after {
		left: 42%;
	}

	& .section__table tbody tr:last-child::after {
		bottom: -130px;
		height: 130px;
	}
}

.betononasos__text_gray {
	font-weight: 400;
	font-size: 18px;
	color: #8D8D8D;
	margin-top: 30px;
	margin-left: 20px;
	margin-bottom: 15px;
}

.betononasos__text {
	font-weight: 400;
	font-size: 18px;
	margin-left: 20px;
}

.advantages {
	background-color: $color-white;
	padding-top: $section-padding;
	padding-bottom: $section-padding;

	& .section__heading::after {
		left: 42%;
	}
}

.advantages__items {
	margin-top: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.advantages__item {
	width: 48%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 45px;
}

.advantages__number {
	width: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	& span {
		font-weight: 700;
		font-size: 80px;
		color: $color-orange;
		margin-right: 40px;
	}
}

.advantages__heading {
	font-weight: 600;
	font-size: 28px;
	margin-bottom: 10px;
}

.advantages__text {
	font-weight: 400;
	font-size: 22px;
}


.order {
	background-color: #FFF;
	padding-top: $section-padding;
	padding-bottom: $section-padding;
	border-radius: 15px;
	margin-bottom: 20px;

	& .section__heading::after {
		left: 42%;
	}
}

.order__form {
	margin-top: 70px;

}

.order__inputs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;

}

.order__input {
	width: 40%;
	margin-bottom: 30px;
	height: 70px;
	background-color: #fff;
	border: 2px solid $color-orange;
	border-radius: 15px;
	padding-left: 15px;
	margin-right: 50px;
}

.order__info {
	font-size: 18px;
	line-height: 22px;
	color: $color-darkgray;
}

.order__button {
	width: 40%;
	margin-top: 30px;
	height: 70px;
	&:hover, &:focus {
		cursor: pointer;
	}
}

.footer {
	background-color: $color-darkgray;
	padding-top: 20px;
}

.footer .header__link {
	color: $color-white;
	&:hover, &:focus {
		color: $color-orange;
		transition: color 0.3s ease;
	}
}

.footer__info {
	font-size: 16px;
	color: #8D8D8D;
	margin-top: 45px;
	padding-bottom: 10px;
}