@keyframes dot {
	0% {
		color: $black;
	}
	50% {
		color: $red;
	}
	100% {
		color: $black;
	}
}

@keyframes h1 {
	0% {
		background: linear-gradient(to right, #FF416C 0%, #FF4B2B 50%, #FF4B2B 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

	}
	10% {
		background: linear-gradient(to right, #FF4B2B 0%, #FF416C 50%, #FF4B2B 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

	}
	20% {
		background: linear-gradient(to right, #FF4B2B 0%, #FF4B2B 50%, #FF416C 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

	}
	30% {
		background: linear-gradient(to right, #FF416C 0%, #FF4B2B 50%, #FF4B2B 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

	}
	40% {
		background: linear-gradient(to right, #FF4B2B 0%, #FF416C 50%, #FF4B2B 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

	}
	50% {
		background: linear-gradient(to right, #FF4B2B 0%, #FF4B2B 50%, #FF416C 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

	}
	60% {
		background: linear-gradient(to right, #FF416C 0%, #FF4B2B 50%, #FF4B2B 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

	}
	70% {
		background: linear-gradient(to right, #FF4B2B 0%, #FF416C 50%, #FF4B2B 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

	}
	80% {
		background: linear-gradient(to right, #FF4B2B 0%, #FF4B2B 50%, #FF416C 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

	}
	90% {
		background: linear-gradient(to right, #FF416C 0%, #FF4B2B 50%, #FF4B2B 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

	}
	100% {
		background: linear-gradient(to right, #FF4B2B 0%, #FF416C 50%, #FF4B2B 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

	}
}