@import "reset.css";

@import "__fonts.styl";
@import "__variables.styl";
@import "__helpers.styl";




html {
	scroll-behavior: smooth;
}

html, body {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	font-weight: 400px;
	line-height: 1.5;
	color: $black;
}

