@import "reset.css";
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url("fonts/roboto-v20-latin_cyrillic-300.woff2") format('woff2'), url("fonts/roboto-v20-latin_cyrillic-300.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url("fonts/roboto-v20-latin_cyrillic-500.woff2") format('woff2'), url("fonts/roboto-v20-latin_cyrillic-500.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url("fonts/roboto-v20-latin_cyrillic-700.woff2") format('woff2'), url("fonts/roboto-v20-latin_cyrillic-700.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url("fonts/montserrat-v14-latin-600.woff2") format('woff2'), url("fonts/montserrat-v14-latin-600.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url("fonts/montserrat-v14-latin-700.woff2") format('woff2'), url("fonts/montserrat-v14-latin-700.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url("fonts/montserrat-v14-latin-800.woff2") format('woff2'), url("fonts/montserrat-v14-latin-800.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@-moz-keyframes dot {
  0% {
    color: #3d3d3d;
  }
  50% {
    color: #ff4b2b;
  }
  100% {
    color: #3d3d3d;
  }
}
@-webkit-keyframes dot {
  0% {
    color: #3d3d3d;
  }
  50% {
    color: #ff4b2b;
  }
  100% {
    color: #3d3d3d;
  }
}
@-o-keyframes dot {
  0% {
    color: #3d3d3d;
  }
  50% {
    color: #ff4b2b;
  }
  100% {
    color: #3d3d3d;
  }
}
@keyframes dot {
  0% {
    color: #3d3d3d;
  }
  50% {
    color: #ff4b2b;
  }
  100% {
    color: #3d3d3d;
  }
}
@-moz-keyframes leftDot {
  0% {
    top: 80%;
  }
  25% {
    top: 20%;
  }
  50% {
    top: 80%;
  }
  100% {
    top: 80%;
  }
}
@-webkit-keyframes leftDot {
  0% {
    top: 80%;
  }
  25% {
    top: 20%;
  }
  50% {
    top: 80%;
  }
  100% {
    top: 80%;
  }
}
@-o-keyframes leftDot {
  0% {
    top: 80%;
  }
  25% {
    top: 20%;
  }
  50% {
    top: 80%;
  }
  100% {
    top: 80%;
  }
}
@keyframes leftDot {
  0% {
    top: 80%;
  }
  25% {
    top: 20%;
  }
  50% {
    top: 80%;
  }
  100% {
    top: 80%;
  }
}
@-moz-keyframes rightDot {
  0% {
    top: 20%;
  }
  25% {
    top: 80%;
  }
  50% {
    top: 20%;
  }
  100% {
    top: 20%;
  }
}
@-webkit-keyframes rightDot {
  0% {
    top: 20%;
  }
  25% {
    top: 80%;
  }
  50% {
    top: 20%;
  }
  100% {
    top: 20%;
  }
}
@-o-keyframes rightDot {
  0% {
    top: 20%;
  }
  25% {
    top: 80%;
  }
  50% {
    top: 20%;
  }
  100% {
    top: 20%;
  }
}
@keyframes rightDot {
  0% {
    top: 20%;
  }
  25% {
    top: 80%;
  }
  50% {
    top: 20%;
  }
  100% {
    top: 20%;
  }
}
@media screen and (max-width: 1199.98px) {
  html,
  body {
    font-size: 14px;
  }
  .container {
    max-width: 992px;
  }
}
* {
  transition: all 0.4s ease;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.5;
  color: #3d3d3d;
  background-color: #fffffe;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  min-height: 100vh;
  background: url("../img/main-header-bg.png") no-repeat bottom -50px center;
  background-size: 100%;
  height: 100%;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header__logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 42px;
}
.header__logo_red {
  animation: dot 3s ease-in-out infinite;
}
.header__links {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 135px;
  height: 100%;
}
.header__links a {
  font-weight: 500;
  font-size: 18px;
  color: #3d3d3d;
  text-decoration: none;
}
.header__li_divider {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
}
.header__li:first-child {
  position: relative;
}
.header__li:first-child::after {
  content: url("../img/icons/header-arrow-down.svg");
  position: absolute;
  right: -22px;
  top: 1px;
}
.header__menu-button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.header__lines {
  position: relative;
  width: 100%;
}
.header__lines_left {
  content: '';
  width: 2px;
  height: 536px;
  position: absolute;
  left: 5px;
  top: 0;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  z-index: 1;
}
.header__lines_left::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  top: 80%;
  left: -19px;
  border: 10px solid #fff;
  animation: 7s leftDot ease-in-out infinite;
}
.header__lines_right {
  content: '';
  width: 2px;
  height: 543px;
  position: absolute;
  right: 5px;
  top: 0;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  z-index: 1;
}
.header__lines_right::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  top: 20%;
  left: -19px;
  border: 10px solid #fff;
  animation: 7s rightDot ease-in-out infinite;
}
.button {
  width: 244px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  background-color: #fffffe;
  border: 2px solid;
  border-image: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%) 2 2;
  cursor: pointer;
}
.button svg {
  margin-left: 15px;
}
.button:hover,
.button:focus {
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  color: #fffffe;
  box-shadow: 0 20px 50px -15px #ff4b2b;
}
.button:hover svg linearGradient stop,
.button:focus svg linearGradient stop {
  stop-color: #fffffe;
}
.header__heading_h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 120px;
  font-weight: 800;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 70px;
  line-height: 1;
  margin-top: 50px;
}
.header__heading_h2 {
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 30px;
  line-height: 1;
}
.header__heading_h3 {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 50px;
  line-height: 1;
}
