@import "reset.css";
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url("fonts/roboto-v20-latin_cyrillic-300.woff2") format('woff2'), url("fonts/roboto-v20-latin_cyrillic-300.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url("fonts/roboto-v20-latin_cyrillic-500.woff2") format('woff2'), url("fonts/roboto-v20-latin_cyrillic-500.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url("fonts/roboto-v20-latin_cyrillic-700.woff2") format('woff2'), url("fonts/roboto-v20-latin_cyrillic-700.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url("fonts/montserrat-v14-latin-600.woff2") format('woff2'), url("fonts/montserrat-v14-latin-600.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url("fonts/montserrat-v14-latin-700.woff2") format('woff2'), url("fonts/montserrat-v14-latin-700.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url("fonts/montserrat-v14-latin-800.woff2") format('woff2'), url("fonts/montserrat-v14-latin-800.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  padding-top: 4px;
  cursor: pointer;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-color: transparent;
  border: 2px solid;
  border-image: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%) 2 2;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  margin-top: 3px;
}
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 4px;
  top: 7px;
  width: 12px;
  height: 8px;
  border-radius: 1px;
  border-left: 2px solid #fffffe;
  border-bottom: 2px solid #fffffe;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  left: 4px;
  top: 4px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fffffe;
}
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}
input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  opacity: 1;
}
@-moz-keyframes dot {
  0%, 100% {
    color: #3d3d3d;
  }
  50% {
    color: #ff4b2b;
  }
}
@-webkit-keyframes dot {
  0%, 100% {
    color: #3d3d3d;
  }
  50% {
    color: #ff4b2b;
  }
}
@-o-keyframes dot {
  0%, 100% {
    color: #3d3d3d;
  }
  50% {
    color: #ff4b2b;
  }
}
@keyframes dot {
  0%, 100% {
    color: #3d3d3d;
  }
  50% {
    color: #ff4b2b;
  }
}
@-moz-keyframes arrow {
  0%, 100% {
    left: 0;
  }
  33% {
    left: 10px;
  }
  66% {
    left: -5px;
  }
}
@-webkit-keyframes arrow {
  0%, 100% {
    left: 0;
  }
  33% {
    left: 10px;
  }
  66% {
    left: -5px;
  }
}
@-o-keyframes arrow {
  0%, 100% {
    left: 0;
  }
  33% {
    left: 10px;
  }
  66% {
    left: -5px;
  }
}
@keyframes arrow {
  0%, 100% {
    left: 0;
  }
  33% {
    left: 10px;
  }
  66% {
    left: -5px;
  }
}
@-moz-keyframes pricePulse {
  0%, 100% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.6);
  }
  50% {
    transform: scale(1.25);
  }
  75% {
    transform: scale(1.6);
  }
}
@-webkit-keyframes pricePulse {
  0%, 100% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.6);
  }
  50% {
    transform: scale(1.25);
  }
  75% {
    transform: scale(1.6);
  }
}
@-o-keyframes pricePulse {
  0%, 100% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.6);
  }
  50% {
    transform: scale(1.25);
  }
  75% {
    transform: scale(1.6);
  }
}
@keyframes pricePulse {
  0%, 100% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.6);
  }
  50% {
    transform: scale(1.25);
  }
  75% {
    transform: scale(1.6);
  }
}
@media screen and (max-width: 1199.98px) {
  html,
  body {
    font-size: 14px;
  }
  .container {
    max-width: 992px;
  }
}
* {
  transition: all 0.4s ease;
}
::selection {
  background-color: #ff4b2b;
  color: #fffffe;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.5;
  color: #3d3d3d;
  background-color: #fffffe;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  min-height: 100vh;
  background: url("../img/main-header-bg.png") no-repeat bottom -50px center;
  background-size: 100%;
  height: 100%;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header__logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 1;
}
.header__logo_red {
  font-size: 50px;
  animation: dot 3s ease-in-out infinite;
  line-height: 1;
}
.header__links {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 170px;
  height: 100%;
}
.header__link {
  font-weight: 500;
  font-size: 18px;
  color: #3d3d3d;
  text-decoration: none;
}
.header__link:hover,
.header__link:focus {
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__li_divider {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
}
.header__submenu {
  display: none;
}
.header__li_submenu:hover .header__submenu,
.header__li_submenu:focus .header__submenu {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 190px;
  height: 100px;
  padding: 12px;
  border: 2px solid #ff4b2b;
  box-shadow: 0 5px 15px -10px #ff4b2b;
  background-color: #fffffe;
  opacity: 1;
}
.header__li_submenu:hover .submenu__arrow,
.header__li_submenu:focus .submenu__arrow {
  transform: rotate(180deg);
}
.header__li_small {
  width: 100%;
  text-align: right;
}
.header__link_small {
  font-weight: 300;
  font-size: 14px;
  color: #3d3d3d;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: right;
}
.header__link_small:hover,
.header__link_small:focus {
  font-weight: 500;
  font-size: 14px;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__li:first-child {
  position: relative;
}
.submenu__arrow {
  position: relative;
  top: -1px;
  margin-left: 7px;
  transform: rotate(0deg);
}
.header__li:first-child .header__link:hover svg g path,
.header__li:first-child .header__link:focus svg g path {
  fill: #ff4b2b;
  transition: 0s;
}
.header__li:first-child .header__link:hover + .header__links_submenu,
.header__li:first-child .header__link:focus + .header__links_submenu {
  display: flex;
}
.header__menu-button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.header__lines {
  position: relative;
  width: 100%;
}
.header__lines_left {
  content: '';
  width: 2px;
  height: 536px;
  position: absolute;
  left: 5px;
  top: 0;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  z-index: 1;
}
.header__lines_left::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  top: 80%;
  left: -19px;
  border: 10px solid #fff;
}
.header__lines_right {
  content: '';
  width: 2px;
  height: 543px;
  position: absolute;
  right: 5px;
  top: 0;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  z-index: 1;
}
.header__lines_right::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  top: 20%;
  left: -19px;
  border: 10px solid #fff;
}
.button {
  width: 244px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid;
  border-image: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%) 2 2;
  cursor: pointer;
}
.button svg {
  margin-left: 15px;
}
.button:hover,
.button:focus {
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  color: #fffffe;
  box-shadow: 0 20px 50px -15px #ff4b2b;
}
.button:hover svg,
.button:focus svg {
  position: relative;
  left: 0;
  animation: arrow 0.8s ease-in-out;
  animation-delay: 0.15s;
}
.button:hover svg linearGradient stop,
.button:focus svg linearGradient stop {
  stop-color: #fffffe;
}
.header__heading_h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 120px;
  font-weight: 800;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 50px;
  line-height: 1;
  margin-top: 50px;
}
.header__heading_h2 {
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 30px;
  line-height: 1;
}
.header__heading_h3 {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 50px;
  line-height: 1;
}
.services {
  padding-top: 120px;
  padding-bottom: 200px;
  position: relative;
}
.section__headings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  top: 0;
  right: 0;
}
.section__heading_small {
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.section__heading {
  font-weight: 700;
  font-size: 42px;
  text-align: right;
  line-height: 50px;
}
.section__heading_red {
  color: #ff4b2b;
}
.services__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.services__list::before {
  content: url("../img/services.jpg");
  position: absolute;
  left: -270px;
  top: 70%;
}
.services__item {
  background-color: transparent;
  border: 2px solid;
  border-image: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%) 2 2;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 400px;
  height: 340px;
  position: absolute;
  top: -26px;
  left: 26px;
  background-color: #fff;
}
.services__item h4 {
  font-weight: 500;
  font-size: 26px;
}
.services__item p {
  font-weight: 300;
  font-size: 16px;
}
.services__item a {
  font-weight: 500;
  font-size: 18px;
  color: #3d3d3d;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}
.services__item a img {
  margin-left: 15px;
  position: relative;
  top: 0;
  left: 0;
}
.services__item a:hover,
.services__item a:focus {
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services__item a:hover img,
.services__item a:focus img {
  animation: 0.8s arrow ease-in-out;
}
.services__item::after {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  width: 16px;
  height: 16px;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  border-radius: 50%;
  transition: all 0.8s ease-in-out;
}
.services__item_shadow {
  width: 400px;
  height: 340px;
  position: relative;
  content: '';
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
}
.services__item_shadow:hover .services__item,
.services__item_shadow:focus .services__item {
  background-color: #3d3d3d;
}
.services__item_shadow:hover .services__item a,
.services__item_shadow:focus .services__item a,
.services__item_shadow:hover .services__item h4,
.services__item_shadow:focus .services__item h4,
.services__item_shadow:hover .services__item p,
.services__item_shadow:focus .services__item p {
  color: #fffffe;
}
.services__item_shadow:hover .services__item::after,
.services__item_shadow:focus .services__item::after {
  top: 81%;
  transition: all 0.8s ease-in-out;
}
.services__item_shadow:nth-child(2) {
  margin-left: 26px;
  margin-top: 280px;
}
.services__item_shadow:nth-child(2) .services__item {
  top: 26px;
  left: -26px;
}
.services__item_shadow:nth-child(2) .services__item::after {
  left: -8px;
  top: calc(100% - 8px);
}
.services__item_shadow:nth-child(2):hover .services__item::after,
.services__item_shadow:nth-child(2):focus .services__item::after {
  left: 82%;
}
.services__item_shadow:nth-child(3) {
  margin-top: 150px;
}
.services__item_shadow:nth-child(3) .services__item {
  top: -26px;
  left: -26px;
}
.services__item_shadow:nth-child(3):hover .services__item::after,
.services__item_shadow:nth-child(3):focus .services__item::after {
  right: 82%;
  top: -8px;
}
.portfolio {
  padding-top: 40px;
  padding-bottom: 120px;
}
.portfolio__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.portfolio__link {
  font-weight: 500;
  font-size: 18px;
  color: #3d3d3d;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.portfolio__link img {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 15px;
}
.portfolio__link:hover,
.portfolio__link:focus {
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.portfolio__link:hover img,
.portfolio__link:focus img {
  animation: 0.8s arrow ease-in-out;
}
.portfolio__items {
  margin-top: 80px;
  margin-left: 95px;
  margin-bottom: 160px;
}
.portfolio__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.portfolio__description {
  padding: 60px 85px 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: transparent;
  border: 2px solid;
  border-image: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%) 2 2;
  position: relative;
  right: -2px;
  min-height: 420px;
}
.portfolio__description::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  border-radius: 50%;
  left: -9px;
  top: 70px;
}
.portfolio__heading {
  font-weight: 500;
  font-size: 26px;
  line-height: 1;
}
.portfolio__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.portfolio__link_bottom {
  align-self: flex-end;
  position: absolute;
  bottom: 40px;
  right: 85px;
}
.portfolio__image {
  z-index: 3;
  flex-shrink: 0;
  width: 730px;
}
.portfolio__image img {
  object-fit: contain;
}
.portfolio__buttons {
  position: absolute;
  bottom: -104px;
  right: -74px;
  z-index: 4;
  display: flex;
}
.portfolio__button {
  width: 74px;
  height: 74px;
  outline: none;
  border: none;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  padding: 0;
}
.portfolio__button svg path {
  fill: #fffffe;
}
.portfolio__button svg {
  position: relative;
  top: 0;
  left: 0;
}
.portfolio__button:not(:disabled):hover,
.portfolio__button:not(:disabled):focus {
  cursor: pointer;
}
.portfolio__button:disabled {
  background: #e0e0e0;
}
.portfolio__button:disabled svg path {
  fill: #3d3d3d;
}
.advantages {
  background-color: #3d3d3d;
  padding-top: 130px;
  padding-bottom: 60px;
}
.advantages .section__heading {
  color: #fffffe;
}
.advantages__wrapper {
  position: relative;
}
.advantages__image_superman {
  position: absolute;
  top: -310px;
  left: 0;
}
.advantages__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 120px;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 29%;
  margin-bottom: 70px;
}
.advantages__icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 43px;
  position: relative;
}
.advantages__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #fffffe;
}
.advantages__text {
  color: #fffffe;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  display: inline-block;
  width: 80%;
}
.start-project {
  height: 240px;
  width: 100%;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.start-project img {
  position: relative;
  left: 0;
  top: 2px;
}
.start-project:hover img,
.start-project:focus img {
  animation: arrow 0.8s ease;
}
.start-project__heading {
  font-weight: 700;
  font-size: 42px;
  margin-right: 45px;
  color: #fffffe;
  line-height: 1;
}
.yeah {
  position: relative;
}
.yeah img {
  position: absolute;
  right: 0;
  top: -140px;
}
.howto {
  padding-top: 300px;
  padding-bottom: 220px;
}
.howto .section__heading {
  text-align: left;
}
.howto__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 80px;
  margin-left: 350px;
  position: relative;
  width: 844px;
}
.howto__item .portfolio__buttons {
  bottom: 40px;
  right: -73px;
}
.howto__image {
  position: absolute;
  left: -260px;
}
.howto__description {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: transparent;
  border: 2px solid;
  border-image: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%) 2 2;
  padding: 70px 170px 90px 170px;
}
.howto__description::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  border-radius: 50%;
  right: -7px;
  top: 60px;
}
.howto__heading {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 40px;
}
.howto__text {
  margin-left: 40px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
}
.faq .section__heading {
  text-align: left;
}
.faq {
  padding-bottom: 190px;
  position: relative;
}
.faq__image {
  position: absolute;
  top: -50px;
  right: -100px;
}
.faq__list {
  width: 950px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 80px;
  margin-bottom: 70px;
  margin-left: 95px;
}
.faq__item {
  width: 100%;
  height: auto;
  background-color: transparent;
  border: 3px solid;
  border-image: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%) 3 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  transition: height 0.4s ease;
}
.faq__item::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ff4b2b;
  left: -10px;
  top: 32px;
  transition: all 0.4s ease;
}
.faq__item::after {
  content: url("../img/icons/arrow-faq.svg");
  position: absolute;
  right: 35px;
  top: 30px;
  transition: all 0.4s ease;
  transform: rotate(0deg);
}
.faq__item:not(:last-child) {
  margin-bottom: 35px;
}
.faq__item_opened {
  transition: height 0.4s ease;
}
.faq__item_opened::after {
  transform: rotate(-180deg);
  transition: all 0.4s ease;
}
.faq__item_opened::before {
  top: 83px;
  transition: all 0.4s ease;
}
.faq__question {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #3d3d3d;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 35px;
  padding-right: 35px;
  display: inline-block;
  width: 100%;
  position: relative;
}
.faq__answer {
  padding-bottom: 30px;
  padding-left: 35px;
  padding-right: 35px;
  font-weight: 300;
  display: none;
}
.faq__answer_opened {
  display: inline-block;
}
.faq .button {
  margin-left: 95px;
  color: #3d3d3d;
  text-decoration: none;
}
.faq .button:hover,
.faq .button:focus {
  color: #fffffe;
}
.contacts {
  background-color: #3d3d3d;
  padding-top: 100px;
  padding-bottom: 100px;
}
.contacts .portfolio__headings {
  text-align: left;
}
.contacts .section__heading {
  color: #fffffe;
  text-align: left;
}
.contacts__wrapper {
  position: relative;
}
.contacts__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 95px;
  margin-top: 60px;
}
.contacts__label {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
  color: #fffffe;
}
.contacts__input {
  width: 450px;
  height: 80px;
  padding: 30px;
  background-color: transparent;
  border: 2px solid;
  border-image: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%) 2 2;
  background-color: #fffffe;
  margin-bottom: 20px;
}
.contacts__input::placeholder {
  color: #e0e0e0;
}
.contacts .button {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 450px;
  height: 80px;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  color: #fffffe;
}
.contacts .button svg path {
  fill: #fffffe;
}
.contacts__label_checkbox {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #fffffe;
}
.contacts__label_checkbox a {
  color: #fffffe;
}
.contacts__image_woman {
  position: absolute;
  right: 0;
  top: -220px;
}
.contacts__items {
  color: #fffffe;
  margin-top: 95px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 95px;
  flex-wrap: wrap;
}
.contacts__items a {
  color: #fffffe;
  text-decoration: none;
}
.contacts__items a:hover,
.contacts__items a:focus {
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contacts__items a:hover .contacts__image,
.contacts__items a:focus .contacts__image {
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
}
.contacts__item {
  display: flex;
  margin-bottom: 25px;
  flex-basis: 33%;
}
.contacts__item figcaption {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.contacts__item_small {
  flex-basis: 25%;
}
.contacts__items figure {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.contacts__items figure .contacts__phone {
  font-weight: 700;
  font-size: 30px;
}
.contacts__image {
  min-width: 60px;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  border: 2px solid #ff4b2b;
  border-radius: 50%;
}
.footer {
  background-color: #fffffe;
  padding-top: 50px;
  padding-bottom: 40px;
}
.footer__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 95px;
  margin-right: 95px;
}
.footer__link {
  font-weight: 500;
  font-size: 16px;
  color: #3d3d3d;
  text-decoration: none;
}
.footer__link:hover,
.footer__link:focus {
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__copyright {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #3d3d3d;
  margin-bottom: 5px;
}
.footer__logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 60px;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
}
.footer__policy {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #3d3d3d;
  text-decoration: none;
  margin-bottom: 5px;
}
.footer__policy:hover,
.footer__policy:focus {
  text-decoration: underline;
}
.faq__header,
.portfolio-page__header,
.contacts-page__header {
  background: #fffffe;
  height: auto;
  min-height: auto;
}
.faq__heading_h1,
.portfolio-page__heading_h1,
.contacts-page__heading_h1 {
  font-size: 80px;
  text-align: center;
  width: 80%;
}
.faq__heading_h2,
.portfolio-page__heading_h2,
.contacts-page__heading_h2 {
  font-size: 42px;
  text-align: center;
  width: 65%;
}
.contacts-page__heading_h2 {
  width: 45%;
  line-height: 49px;
  margin-bottom: 0;
}
.faq-page .faq__list {
  align-items: center;
  margin: 70px auto 60px auto;
}
.faq-page .faq {
  padding-bottom: 100px;
}
.faq-page__text {
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  margin-left: 210px;
  display: inline-block;
  width: 55%;
}
.faq-page__text_red {
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.faq-page__contacts {
  display: flex;
}
.faq-page__contacts .contacts__items {
  position: relative;
  top: -50px;
  flex-direction: column;
  margin-top: 0;
  align-items: flex-start;
  width: 30%;
  margin-left: 200px;
}
.portfolio-page .portfolio__items {
  margin-bottom: 0;
}
.portfolio-page .portfolio__item:not(:last-of-type) {
  margin-bottom: 40px;
}
.contacts-page__header {
  padding-bottom: 70px;
}
.contacts-page__content figcaption {
  color: #3d3d3d;
}
.contacts-page__content .contacts__items {
  margin-right: 95px;
  align-items: flex-start;
}
.contacts-page__content .contacts__items_right .contacts__item:last-child {
  width: 70%;
}
.contacts-page__image_woman {
  position: absolute;
  top: -200px;
  right: 20px;
}
.type__heading_h1 {
  font-weight: 800;
  font-size: 120px;
  line-height: 146px;
  margin-bottom: 85px;
  text-align: center;
}
.type__header {
  background: none;
  height: auto;
  min-height: auto;
}
.type__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 175px;
}
.type__heading_h2,
.type__description {
  width: 50%;
}
.type__heading_h2 {
  padding-left: 85px;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
}
.type__description {
  padding-right: 85px;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
}
.type__contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 85px;
  padding-right: 85px;
  margin-bottom: 120px;
}
.type__contacts figure.contacts__item,
.type__contacts .contacts__item figure {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
}
.type__contacts a.contacts__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #3d3d3d;
  margin-bottom: 0;
}
.type__contacts a.contacts__item:hover,
.type__contacts a.contacts__item:focus {
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.type__contacts a.contacts__item:hover .contacts__image,
.type__contacts a.contacts__item:focus .contacts__image {
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
}
.type__prices {
  padding-top: 20px;
  padding-bottom: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.type__subheading {
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  display: inline-block;
  width: 40%;
  margin-bottom: 70px;
}
.type__subheading_red {
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.type__pricelist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.price {
  background-color: transparent;
  border: 2px solid;
  border-image: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%) 2 2;
  padding: 60px 60px 85px 60px;
  position: relative;
  width: 430px;
}
.price__heading {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 75px;
  text-align: center;
  position: relative;
}
.price__heading::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -32px;
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
}
.price__heading::before {
  content: '';
  position: absolute;
  left: calc(50% - 8px);
  bottom: -40px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  transition: all 0.6s ease;
  transform: scale(1);
}
.price__cost {
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  margin-top: 50px;
}
.price .button {
  width: 380px;
  height: 86px;
  position: absolute;
  bottom: -43px;
  left: calc(50% - 190px);
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  color: #fffffe;
}
.price__advantage {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.price__advantage:not(:last-child) {
  margin-bottom: 18px;
}
.price__advantage_disabled {
  color: #e0e0e0;
  text-decoration: line-through;
  font-weight: 400;
}
.price:hover,
.price:focus {
  background-color: #3d3d3d;
}
.price:hover .price__heading,
.price:focus .price__heading,
.price:hover .price__advantage:not(.price__advantage_disabled),
.price:focus .price__advantage:not(.price__advantage_disabled),
.price:hover .price__cost,
.price:focus .price__cost {
  color: #fff;
}
.price:nth-of-type(1):hover .price__heading::before,
.price:nth-of-type(1):focus .price__heading::before {
  left: 0;
  transform: scale(1.6);
  transition: all 0.6s ease-in-out;
}
.price:nth-of-type(2):hover .price__heading::before,
.price:nth-of-type(2):focus .price__heading::before {
  animation: pricePulse 1.4s ease-in-out;
}
.price:nth-of-type(3):hover .price__heading::before,
.price:nth-of-type(3):focus .price__heading::before {
  left: 100%;
  transform: scale(1.6);
  transition: all 0.6s ease-in-out;
}
.prices__individual {
  margin-top: 116px;
  font-style: italic;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  display: inline-block;
  width: 80%;
  text-align: left;
  align-self: flex-start;
}
.prices__individual_red {
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 10px;
}
.type .advantages .section__headings {
  align-items: flex-start;
}
.type .howto {
  padding-top: 160px;
}
.type__header .contacts__image span {
  font-size: 26px;
  font-weight: 700;
}
.type__heading_corporate {
  font-size: 80px;
  width: 60%;
  line-height: 1.4;
}
.feedback {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 160px;
}
.feedback__list {
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: flex-start;
}
.feedback__item {
  padding: 70px 60px;
  width: 100%;
  background-color: transparent;
  border: 2px solid;
  border-image: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%) 2 2;
  position: relative;
}
.feedback__item::after {
  content: '';
  position: absolute;
  top: 45px;
  right: -9px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  transition: top 0.4s ease-in-out;
}
.feedback__item:hover::after,
.feedback__item:focus::after {
  top: 80px;
  transition: top 0.4s ease-in-out;
}
.feedback__item:not(:last-child) {
  margin-bottom: 55px;
}
.feedback__name {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 40px;
}
.feedback__text {
  padding-left: 40px;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
}
.feedback__heading {
  margin-top: 55px;
  margin-bottom: 75px;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  text-align: right;
}
.feedback__heading_red {
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
