@import "reset.css";
@import "__fonts.styl";
@import "__variables.styl";
@import "__helpers.styl";
@import "__animations.styl";
@import "__adaptive.styl";
* {
	transition: all 0.4s ease;
}

::selection {
	background-color: $red;
	color: $white;
}

html {
	scroll-behavior: smooth;
}

html, body {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	font-weight: 400px;
	line-height: 1.5;
	color: $black;
	background-color: $white;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.header {
	min-height: 100vh;
	background: url('../img/main-header-bg.png') no-repeat bottom -50px center;
	background-size: 100%;
	height: 100%;
}

.header__nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	//margin-bottom: 100px;
}

.header__logo {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 42px;
	line-height: 1;
}

.header__logo_red {
	font-size: 50px;
	animation: dot 3s ease-in-out infinite;
	line-height: 1;
}

.header__links {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-right: 170px;
	height: 100%;
}

.header__link {
	font-weight: 500;
	font-size: 18px;
	color: #3D3D3D;
	text-decoration: none;
	&:hover, &:focus {
		{text-gradient}
	}
}

.header__li_divider {
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: $gradient;
}

.header__submenu {
	display: none;
	//opacity: 0;
}

.header__li_submenu:hover, .header__li_submenu:focus {
	.header__submenu {
		//padding-top: 40px;
		position: absolute;
		//top: 40px;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		width: 190px;
		height: 100px;
		padding: 12px;
		border: 2px solid $red;
		box-shadow: 0 5px 15px -10px $red;
		background-color: $white;
		opacity: 1;
		//border-radius: 10px;
	}
	.submenu__arrow {
		transform: rotate(180deg);

	}
}

.header__li_small {
	width: 100%;
	text-align: right;
}

.header__link_small {
	font-weight: 300;
	font-size: 14px;
	color: #3D3D3D;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	text-align: right;
	&:hover, &:focus {
		font-weight: 500;
		font-size: 14px;
		{text-gradient}
	}
	//text-align: right;
}

.header__li:first-child {
	position: relative;
}

.submenu__arrow {
	position: relative;
	top: -1px;
	margin-left: 7px;
	transform: rotate(0deg);
}

.header__li:first-child .header__link:hover svg g path,
.header__li:first-child .header__link:focus svg g path {
	fill: $red;
	transition: 0s;
}

.header__li:first-child .header__link:hover + .header__links_submenu,
.header__li:first-child .header__link:focus + .header__links_submenu {
	display: flex;
}

.header__menu-button {
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

.header__content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.header__lines {
	position: relative;
	width: 100%;
}

.header__lines_left {
	content: '';
	width: 2px;
	height: 536px;
	position: absolute;
	left: 5px;
	top: 0;
	background: $gradient;
	z-index: 1;
	&::after {
		position: absolute;
		content: '';
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: $gradient;
		top: 80%;
		left: -19px;
		border: 10px solid #fff;
		//animation: 7s leftDot ease-in-out infinite;
	}
}

.header__lines_right {
	content: '';
	width: 2px;
	height: 543px;
	position: absolute;
	right: 5px;
	top: 0;
	background: $gradient;
	z-index: 1;
	&::after {
		position: absolute;
		content: '';
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: $gradient;
		top: 20%;
		left: -19px;
		border: 10px solid #fff;
		//animation: 7s rightDot ease-in-out infinite;
	}
}

.button {
	width: 244px;
	height: 63px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 18px;
	{border-gradient};
	//background-color: transparent;
	//border: 2px solid;
	//border-image: $gradient 2 2;
	cursor: pointer;
	& svg {
		margin-left: 15px;
	}
	&:hover, &:focus {
		background: $gradient;
		color: $white;
		box-shadow: 0 20px 50px -15px $red;
		& svg {
			position: relative;
			left: 0;
			animation: arrow 0.8s ease-in-out;
			animation-delay: 0.15s;
		}
		& svg linearGradient stop {
			stop-color: $white;
		}
	}
}

.header__heading_h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 120px;
	font-weight: 800;
	{text-gradient}
	margin-bottom: 50px;
	line-height: 1;
	margin-top: 50px;
}

.header__heading_h2 {
	font-weight: 700;
	font-size: 42px;
	margin-bottom: 30px;
	line-height: 1;
}

.header__heading_h3 {
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 50px;
	line-height: 1;
}

.services {
	padding-top: 120px;
	padding-bottom: 200px;
	position: relative;
	//position: relative;
}

.section__headings {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	position: relative;
	top: 0;
	right: 0;
}

.section__heading_small {
	{text-gradient};
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.section__heading {
	font-weight: 700;
	font-size: 42px;
	text-align: right;
	line-height: 50px;
	&_red {
		color: $red;
	}
}

.services__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	&::before {
		content: url('../img/services.jpg');
		position: absolute;
		left: -270px;
		top: 70%;
	}
}

.services__item {
	{border-gradient}
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 400px;
	height: 340px;
	position: absolute;
	//margin-left: 26px;
	top: -26px;
	left: 26px;
	background-color: #fff;
	//background-color: $white;
	& h4 {
		font-weight: 500;
		font-size: 26px;
	}
	& p {
		font-weight: 300;
		font-size: 16px;
	}
	& a {
		font-weight: 500;
		font-size: 18px;
		color: $black;
		align-self: flex-end;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		text-decoration: none;
		& img {
			margin-left: 15px;
			position: relative;
			top: 0;
			left: 0;
		}
		&:hover, &:focus {
			{text-gradient}
			& img {
				animation: 0.8s arrow ease-in-out;
				//animation-delay: 0.15s;
			}
		}
	}
	&::after {
		content: '';
		position: absolute;
		top: -8px;
		right: -8px;
		width: 16px;
		height: 16px;
		background: $gradient;
		border-radius: 50%;
		transition: all 0.8s ease-in-out;
	}
}

.services__item_shadow {
	width: 400px;
	height: 340px;
	position: relative;
	content: '';
	background: $gradient;
	&:hover, &:focus {
		.services__item {
			background-color: $black;
			& a, & h4, & p {
				color: $white;
			}
			&::after {
				top: 81%;
				transition: all 0.8s ease-in-out;
			}
		}
	}
}

.services__item_shadow:nth-child(2) {
	margin-left: 26px;
	margin-top: 280px;
	& .services__item {
		top: 26px;
		left: -26px;
		&::after {
			left: -8px;
			top: calc(100% - 8px);
		}
	}
	&:hover, &:focus {
		& .services__item::after {
			left: 82%;
		}
	}
}

.services__item_shadow:nth-child(3) {
	//margin-left: 26px;
	margin-top: 150px;
	& .services__item {
		top: -26px;
		left: -26px;
	}
	&:hover, &:focus {
		& .services__item::after {
			right: 82%;
			top: -8px;
		}
	}
}

.portfolio {
	padding-top: 40px;
	padding-bottom: 120px;
}

.portfolio__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.portfolio__link {
	font-weight: 500;
	font-size: 18px;
	color: #3D3D3D;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	align-self: flex-end;
	& img {
		position: relative;
		top: 0;
		left: 0;
		margin-left: 15px;
	}
	&:hover, &:focus {
		{text-gradient}
		& img {
			animation: 0.8s arrow ease-in-out;
		}
	}
}

.portfolio__items {
	margin-top: 80px;
	margin-left: 95px;
	margin-bottom: 160px;
	// overflow: hidden;
	// width: 100%;
}

.portfolio__item {
	display: flex;
	flex-direction: row;
	align-items: center;
	// width: 100%;
}

.portfolio__description {
	padding: 60px 85px 40px 60px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	{border-gradient};
	// width: 45%;
	// flex-grow: 0;
	position: relative;
	right: -2px;
	min-height: 420px;

	// border: 2px 0 2px 2px solid !important;
	&::before {
		content: '';
		position: absolute;
		width: 16px;
		height: 16px;
		background: $gradient;
		border-radius: 50%;
		left: -9px;
		top: 70px;
	}
}

.portfolio__heading {
	font-weight: 500;
	font-size: 26px;
	line-height: 1;
}

.portfolio__text {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.4;
	margin-left: 60px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.portfolio__link_bottom {
	align-self: flex-end;
	position: absolute;
	bottom: 40px;
	right: 85px;
}

.portfolio__image {
	z-index: 3;
	flex-shrink: 0;
	width: 730px;
	& img {
		object-fit: contain;
	}
}

// .portfolio_animated {
// 	animation: portfolio 1.5s ease-out;
// }
.portfolio__buttons {
	position: absolute;
	bottom: -104px;
	right: -74px;
	z-index: 4;
	display: flex;
}

.portfolio__button {
	width: 74px;
	height: 74px;
	outline: none;
	border: none;
	background: $gradient;
	padding: 0;
	& svg path {
		fill: $white;
	}
	& svg {
		position: relative;
		top: 0;
		left: 0;
	}
	&:not(:disabled) {
		&:hover, &:focus {
			cursor: pointer;
			// & svg {
			// 	transform: scale(2);
			// }
		}
	}
	&:disabled {
		background: #E0E0E0;
		& svg path {
			fill: $black;
		}
	}
}

.advantages {
	background-color: $black;
	padding-top: 130px;
	padding-bottom: 60px;
	& .section__heading {
		color: $white;
	}
}

.advantages__wrapper {
	position: relative;
}

.advantages__image_superman {
	position: absolute;
	top: -310px;
	left: 0;
}

.advantages__list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 120px;
}

.advantages__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 29%;
	margin-bottom: 70px;
	// height: 350px;
}

.advantages__icon {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items center;
	height: 43px;
	position: relative;
}

.advantages__heading {
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	margin-top: 30px;
	margin-bottom: 20px;
	color: $white;
}

.advantages__text {
	color: $white;
	font-weight: 300;
	font-size: 16px;
	line-height: 140%;
	display: inline-block;
	width: 80%;
}

.start-project {
	height: 240px;
	width: 100%;
	background: $gradient;
	display: flex;
	flex-direction: row;
	justify-content center;
	align-items center;
	text-decoration none;
	& img {
		position: relative;
		left: 0;
		top: 2px;
	}
	&:hover, &:focus {
		& img {
			animation: arrow 0.8s ease;
		}
	}
}

.start-project__heading {
	font-weight: 700;
	font-size: 42px;
	margin-right: 45px;
	color: $white;
	line-height: 1;
}

.start-project__link {
	//display: flex;
	//flex-direction: row;
	//justify-content: flex-start;
	//align-items center;
}

.yeah {
	position: relative;
	& img {
		position: absolute;
		right: 0;
		top: -140px;
	}
}

.howto {
	// height: 500px; // todo убрать потом
	// position: relative;
	padding-top: 300px;
	padding-bottom: 220px;
	// todo пэддинги проверить потом
}

.howto .section__heading {
	text-align: left;
}

.howto__item {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin-top: 80px;
	margin-left: 350px;
	// margin-right: 115px;
	position: relative;
	width: 844px;
	// width: 60%;
	& .portfolio__buttons {
		bottom: 40px;
		right: -73px;
	}
}

.howto__image {
	position: absolute;
	left: -260px;
}

.howto__description {
	width: 100%;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	{border-gradient};
	padding: 70px 170px 90px 170px;
	&::after {
		content: '';
		position: absolute;
		width: 16px;
		height: 16px;
		background: $gradient;
		border-radius: 50%;
		right: -7px;
		top: 60px;
	}
}

.howto__heading {
	font-weight: 700;
	font-size: 26px;
	margin-bottom: 40px;
}

.howto__text {
	margin-left: 40px;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.4;
}

.faq .section__heading {
	text-align: left;
}

.faq {
	padding-bottom: 190px;
	position: relative;
}

.faq__image {
	position: absolute;
	top: -50px;
	right: -100px;
}

.faq__list {
	width: 950px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 80px;
	margin-bottom: 70px;
	margin-left: 95px;
}

.faq__item {
	width: 100%;
	height: auto;
	{border-gradient-bold};
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	transition: height 0.4s ease;
	&::before {
		content: '';
		position: absolute;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: $red;
		left: -10px;
		top: 32px;
		transition: all 0.4s ease;
	}
	&::after {
		content: url('../img/icons/arrow-faq.svg');
		position: absolute;
		right: 35px;
		top: 30px;
		transition: all 0.4s ease;
		transform: rotate(0deg);
	}
	&:not(:last-child) {
		margin-bottom: 35px;
	}
	&_opened {
		transition: height 0.4s ease;
		&::after {
			transform: rotate(-180deg);
			// fill: gray;
			transition: all 0.4s ease;
		}
		&::before {
			top: 83px;
			transition: all 0.4s ease;
		}
	}
}

.faq__question {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-decoration none;
	color: $black;
	padding-bottom: 30px;
	padding-top: 30px;
	padding-left: 35px;
	padding-right: 35px;
	display: inline-block;
	width: 100%;
	position: relative;
}

.faq__answer {
	padding-bottom: 30px;
	padding-left: 35px;
	padding-right: 35px;
	font-weight: 300;
	display: none;
	&_opened {
		display: inline-block;
		// color: $red;
	}
}

.faq .button {
	margin-left: 95px;
	color: $black;
	text-decoration: none;
	&:hover, &:focus {
		color: $white;
	}
}

.contacts {
	background-color: $black;
	padding-top: 100px;
	padding-bottom: 100px;
	& .portfolio__headings {
		text-align: left;
	}
	& .section__heading {
		color: $white;
		text-align: left;
	}
}

.contacts__wrapper {
	position: relative;
}

.contacts__form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 95px;
	margin-top: 60px;
}

.contacts__label {
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 10px;
	color: $white;
}

.contacts__input {
	width: 450px;
	height: 80px;
	padding: 30px;
	// border: 2px solid $red;
	{border-gradient};
	background-color: $white;
	margin-bottom: 20px;
	&::placeholder {
		color: #E0E0E0;
	}
}

.contacts .button {
	margin-top: 30px;
	margin-bottom: 10px;
	width: 450px;
	height: 80px;
	// border: none;
	background: $gradient;
	color: $white;
	& svg path {
		fill: $white;
	}
}

.contacts__label_checkbox {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: $white;
	& a {
		color: $white;
	}
}

.contacts__image_woman {
	position: absolute;
	right: 0;
	top: -220px;
}

.contacts__items {
	color: $white;
	margin-top: 95px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-left: 95px;
	// margin-right: 95px;
	flex-wrap: wrap;
	& a {
		color: $white;
		text-decoration none;
		&:hover, &:focus {
			{text-gradient};
			& .contacts__image {
				background: $gradient;
				// transition: all 0.4s ease;
			}
		}
	}
}

.contacts__item {
	display: flex;
	// max-width: 28%;	
	margin-bottom: 25px;
	flex-basis: 33%;
	& figcaption {
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
	}
}

.contacts__item_small {
	flex-basis: 25%;
}

.contacts__items figure {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	& .contacts__phone {
		font-weight: 700;
		font-size: 30px;
	}
}

.contacts__image {
	min-width: 60px;
	min-height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-right: 25px;
	border: 2px solid $red;
	border-radius: 50%;
}

.footer {
	background-color: $white;
	padding-top: 50px;
	padding-bottom: 40px;
}

.footer__ul {
	display: flex;
	flex-direction: row;
	justify-content space-between;
	align-items: center;
	margin-bottom: 30px;
	margin-left: 95px;
	margin-right: 95px;
}

.footer__link {
	font-weight: 500;
	font-size: 16px;
	color: $black;
	text-decoration: none;
	&:hover, &:focus {
		{text-gradient};
	}
}

.footer_bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.footer__copyright {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: $black;
	margin-bottom: 5px;
}

.footer__logo {
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 60px;
	{text-gradient};
	line-height: 1;
}

.footer__policy {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: $black;
	text-decoration: none;
	margin-bottom: 5px;
	&:hover, &:focus {
		text-decoration: underline;
	}
}

// .image_animated {
// 	// animation-name: images;
// 	animation: images 5s ease-in-out infinite;	
// }
// todo убрать эту анимацию, если не будем пользоваться




// questions page

.faq__header, .portfolio-page__header {
	background: #FFFFFE;
	height: auto;
	min-height: auto;
}

.faq__heading_h1, .portfolio-page__heading_h1 {
	font-size: 80px;
	text-align: center;
	width: 80%;
}

.faq__heading_h2, .portfolio-page__heading_h2 {
	font-size: 42px;
	text-align: center;
	width: 65%;
}

.faq-page {

	& .faq__list {
		align-items: center;
		margin: 70px auto 60px auto;
	}

	& .faq {
		padding-bottom: 100px;
	}

}

.faq-page__text {
	font-weight: 700;
	font-size: 26px;
	line-height: 30px;
	margin-left: 210px;
	display: inline-block;
	width: 55%;

	&_red {
		{text-gradient};
	}
}

.faq-page__contacts {
	display: flex;

	& .contacts__items {
		position: relative;
		top: -50px;
		flex-direction: column;
		margin-top: 0;
		align-items: flex-start;
		width: 30%;
		margin-left: 200px;
	}
}

.portfolio-page {
	//margin-left: 96px;

	& .portfolio__items {
		margin-bottom: 0;
	}

	& .portfolio__item:not(:last-of-type) {
		margin-bottom: 40px;
	}
}